@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

.work-container {
  height: 100vh; /* Full viewport height */
  width: 100%; /* Full width */
  /* animation: gradient 60s linear infinite; 
  background: linear-gradient(
    45deg,
    #ff7e5f,
    #feb47b,
    #ff9a9e,
    #fad0c4,
    #6a11cb,
    #2575fc,
    #a8c0ff,
    #3f2b96
  );
  background-size: 400% 400%;  */
  gap: 20px;
  padding-right: 10%;
  padding-left: 10%;
}
/* 
.work-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
} */

.image-gallery-container,
.carousel-container {
  width: 100%; /* Full width */
  max-width: 1200px; /* Example max-width to prevent excessive stretching */
  box-sizing: border-box;
}

/* Optional: Add margins or paddings to make sure content is spaced */
.image-gallery-container {
  margin-bottom: 40px; /* Space between ImageGallery and Carousel */
}
